html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 0 6px 6px;
  max-width: 50em;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  bottom: 1rem;
  margin: 0 0 1rem;
  margin-left: 1.5rem;
}

p {
  margin: 0;
  font-size: 2rem;
  font-style: italic;
}

h2 {
  text-align: left;
  font-size: 4rem;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  display: inline;
  padding-bottom: 7px;
}

body {
  overflow: hidden;
  position: relative;
  max-height: 500px;
  margin: 0;
}
